
body {
  margin: 0;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;   
}



h1{
  font-size: 2em;
}

h3{
  color:black;
}




footer{
  z-index: 3;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 5em;
}



#togge-button{
  margin-left: 2em;

}

.map-view{
  display: grid;
  grid-template-rows: [first]10% [second]100%[last] ;
  grid-template-columns: [firstC]25% [secondC]55%[thirdC]20%[lastC] ;
}

.filter-list{
  z-index : 1;
  grid-row-start: first;
  grid-row-end:second;
  grid-column-start:secondC ;
  grid-column-end: thirdC;
}

.toggle-button-group{
  display: flex;
  gap:5%;
  margin-top: 0.5em;
  
}


.side-bar{
  z-index: 2;
  grid-row-start: first;
  grid-row-end:last;
  grid-column-start:firstC ;
  grid-column-end: secondC;
}

.map{
  grid-row-start: first;
  grid-row-end:last;
  grid-column-start:firstC ;
  grid-column-end: lastC;
}

.map .ol-zoom {
  top: 10px;
  left: auto;
  right: 10px;
}

.info-window{
  color:black;
  z-index: 3;
}

.background-image {
  background-image: url(images/map.jpg);
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat ;
  max-width: 100vw;
  max-height: 100vh;
  background-color: #464646;
}

.menu {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2em;
  width: 100%;
  font-size: 1em;

}

.centered-container{
  margin-top:5em;
  margin-bottom:5em;
  justify-content:space-evenly;
  text-align: justify;
  direction:row;
}




.menu ul {
  padding: 0;
  margin: 0;
  margin-right:1em;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.menu a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.menu li.active {
  background-color: #555;
}

.menu li:hover {
  background-color: #777;
}


.fade-in {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 4em;
  

}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: blue;
}

/* Container */

.container {
  margin: 0;
  border: 0;
  text-align: center;
  width: 100%; height: 100%;
  position: absolute; top: 0; left: 0;
}

.login-div {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50%;
}

.login-form {
  background-color: #eeeeee;
  width: 90vh;
  height: inherit;
  padding-left: 10px;
}

.login-button {
  position: absolute;
  height: inherit;
}


#logo_img {
  max-height: 2em;
  max-width: 100%;
  height: auto;
  width: auto;
}