/* Variables --------------------------------------------------------------------------- */
:root {
  --primary-bg: #242526;
  --secondary-bg: #fff;
  --primary-profile-text-color: #555;
  --secondary-profile-text-color: #cecece;
  --border-radius: 8px;
  --speed: 500ms;
  --block-text-color: #272727;
  --main-text-color: white;
  --alternative-text-color: black;
  --active-bg-color: #555;
}
/* -------------------------------------------------------------------------------------- */

/* General styles ----------------------------------------------------------------------- */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg);
  color: var(--main-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 6.5vmin;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

footer {
  z-index: 3;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 5em;
}

/* General classes---------------------------------------------------- */

.homepage-list {
  list-style: circle;
}

.container {
  margin: 0;
  border: 0;
  text-align: center;
  width: 100%; height: 100%;
  position: absolute; top: 0; left: 0;
}

.centered-container {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  justify-content: space-evenly;
  text-align: justify;
  direction: row;
}

.centered-block {
  box-sizing: border-box;
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  max-height: 80%;
  height: auto;
  padding: 0em 1em;
}

.text-area {
  background-color: var(--secondary-bg);
  color: var(--block-text-color);
  max-height: 80%;
  height: 75%;
  max-width: 75%;
  width: auto;
  font-size: 1.5vmax;
  border: 3px solid #388fe6;
  border-radius: 30px;
  overflow-y: auto;
}

.text-area h1 {
  border-bottom: 8px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.3em;
}

.text-area p {
  text-align: left;
}

.text-area ul {
  list-style-type: circle;
}

.fade-in {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.description textarea {
  padding: 0.6em;
}

.email div {
  text-decoration: underline;
  display: inline;
}

.email a {
  color: blue
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container{
  margin-top: 2.5vh;
  display: flex;
  flex-direction: row;
  gap:2vh;
}
.loading-spinner {
  width: 4vh;
  height: 4vh;
  border: 1vh solid #f3f3f3; /* Light grey */
  border-top: 1vh solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
/* ------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

.background-image {
  background-image: url(images/map.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-color: #464646;
}

.margin {
  padding-top: 2em;
  height: 100%;
}

/* Friends ------------------------------------------------------------------------------ */
.table-area {
  text-align:left;
  background-color: var(--secondary-bg);
  color: var(--block-text-color);
  height: 100%;
  width: auto;
  font-size: 1.5vmax;
  overflow-y: auto;
  padding-left: 10vh;
  padding-right: 10vh;
}

.table-area h1 {
  border-bottom: 8px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.3em;
}
/* -------------------------------------------------------------------------------------- */

/* Map ---------------------------------------------------------------------------------- */
.map-view {
  display: grid;
  grid-template-rows: [first]10% [second]100%[last] ;
  grid-template-columns: [firstC]25% [secondC]55%[thirdC]20%[lastC] ;
}

.map {
  grid-row-start: first;
  grid-row-end: last;
  grid-column-start: firstC ;
  grid-column-end: lastC;
}

.map .ol-zoom {
  top: 10px;
  left: auto;
  right: 10px;
}

/* Filters ----------------------------------------------------------- */
.filter-list {
  z-index: 1;
  grid-row-start: first;
  grid-row-end: second;
  grid-column-start: secondC ;
  grid-column-end: thirdC;
}

.toggle-button-group{
  display: flex;
  gap: 5%;
  margin-top: 0.5em;
}

.category-button {
  color: white;
  background-color: cyan;
}

.checkbox-group {
  margin: 0 4vh;
}
/* ------------------------------------------------------------------- */

/* Side bars --------------------------------------------------------- */
.info-window{
  color:black;
  z-index: 3;
}

.place-name {
  font-weight: bold;
  padding-top: 1em;
  font-size: xx-large;
}

.place-category {
  padding-bottom: 1em;
  font-size: small;
  font-style: italic;
  color: var(--primary-profile-text-color);
}

.side-bar {
  z-index: 2;
  grid-row-start: first;
  grid-row-end:last;
  grid-column-start:firstC ;
  grid-column-end: secondC;
  font-size: 3vmin;
}

.centered-element {
  margin-left: auto;
  margin-right: auto;
}

#no-pictures-img {
  border-radius: 30px;
}

#img-Add-Image {
  opacity: 0.3;
  max-width: 3.5em;
  max-height: 3.5em;
  width: auto;
  height: auto;
  justify-content: center;
}

#btn-Add-Image {
  border-width: 0px;
  opacity: 0.6;
  color: white;
}

#btn-Add-Image:hover {
  border-width: 1px;
  border-radius: 5px;
  opacity: 1;
}

#friend-icon {
  max-width: 100%;
  max-height: 350;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------- */

/* Header ------------------------------------------------------------------------------- */
#logo_img {
  max-height: 2em;
  max-width: 100%;
  height: auto;
  width: auto;
  padding: .25rem;
}

.menu {
  z-index: 5;
  background-color: #333;
  color: var(--main-text-color);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2em;
  width: 100%;
  font-size: 3.5vmin;
  position: fixed;
}

.menu ul {
  list-style: none;
  gap: 1rem;
  margin: 0;
}

.menu ul:not(.profile-dropdown ul) {
  display: flex;
  margin-right: 1em;
  padding: 0;
}

.menu a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
}


.menu ul li:not(.dropdown-links li).active {
  background-color: var(--active-bg-color);
}

.menu ul li:not(.noHover li):hover {
  background-color: #777;
}
/* -------------------------------------------------------------------------------------- */


/* Slideshow ---------------------------------------------------------------------------- */
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 39vw;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
}

.slide > img {
  height: auto;
  width: 100%;
  border-radius: 1em;
  vertical-align: middle;
}

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: blue;
}
/* -------------------------------------------------------------------------------------- */

/* Login -------------------------------------------------------------------------------- */
#btn-Go {
  border-width: 0px;
  color: var(--main-text-color);
  font-size: 3vmin;
  opacity: 0.6;
  background-color: #388fe6;
}

#btn-Go:hover {
  border-width: 1px;
  border-radius: 5px;
  opacity: 1;
}

.btn-login {
  width: 100%;
  padding: 0.7em;
  margin-bottom: 0.4em;
  font-size: 1em;
  border-radius: 12px;
  border-width: 1px;
}

.btn-login:hover {
  background-color: #c4c4c4;
}

.btn-group {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 57%;
}

.login-div {
  top: 34%;
  height: auto;
}

.login-form {
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
  width: 57%;
  padding: 1.2em 0 0.4em 0;
  margin-bottom: 1em;
  border-radius: 12px;
  font-size: 3vmin
}

.login-button {
  position: absolute;
  height: inherit;
}
/* -------------------------------------------------------------------------------------- */

/* Profile dropdown --------------------------------------------------------------------- */
#user-icon {
  z-index : 4;
  top: 20px;
  right: 20px;
  height: 2.3em;
  width: auto;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

#user-icon:hover {
  background-color: #acacac;
}

.profile-dropdown {
  z-index : 4;
  position: absolute;
  top: 120%;
  right: 30px;
  background-color: var(--secondary-bg);
  border-radius: var(--border-radius);
  padding: 18px 30px;
  width: 200px;
  font-size: 17px;
}

.profile-dropdown.profile-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.profile-dropdown.profile-inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

.profile-menu h3 {
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 18px 0;
  font-weight: 500;
  color: var(--primary-profile-text-color);
  line-height: 1.5rem;
}

.profile-menu h3 span {
  font-size: 16px;
  color: var(--secondary-profile-text-color);
  font-weight: 400;
}

.dropdown-items {
  padding: 0;
}

.dropdown-item {
  display: flex;
  margin: 10px auto;
  padding: 10px 0;
  /* margin-right: 35px; /* Uncomment to center lines separating elements */
  border-top: 3px solid rgba(0, 0, 0, 0.05);
}

.dropdown-item a {
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
  color: var(--secondary-profile-text-color);
}

.dropdown-links {
  padding: 0;
  padding-top: 2px;
}

.dropdown-links li.active {
  font-weight: bold;
}

.dropdown-item img {
  max-width: 25px;
  max-height: 25px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.dropdown-item:hover a {
  color: rgb(212, 33, 9);
  cursor: pointer;
}

.dropdown-item:hover img {
  opacity: 1;
  cursor: pointer;
}
/* -------------------------------------------------------------------------------------- */

/* Profile ------------------------------------------------------------------------------ */

#profile-pic {
  justify-content: center;
  max-height: 30%;
  height: 10em;
  width: auto;
  border-radius: 50%;
}

.profile-view {
  padding-top: 1em;
  padding-bottom: 2em;
}

#profile-pic-div {
  padding-bottom: 0.7em;
  border-bottom: 4px solid rgba(0, 0, 0, 0.4);
  margin: 0em 4em 2em 4em;
}

.profile-attribute {
  text-align: left;
  margin: 0em 4em 1em 4em;
}

.profile-attribute label {
  font-style: italic;
  color: var(--primary-profile-text-color);
  font-size: 0.8em;
  margin-bottom: 0.2em;
}

.profile-attribute div {
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  padding-top: 0.1em;
  font-size: 1.3em;
}

/* -------------------------------------------------------------------------------------- */
