:root {
  --primary-bg: #242526;
  --secondary-bg: #fff;
  --primary-text-color: #555;
  --secondary-text-color: #cecece;
  --border-radius: 8px;
  --speed: 500ms;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1{
  font-size: 2em;
}

h3{
  color:black;
}




footer{
  z-index: 3;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 5em;
}



#toggle-button{
  margin-left: 2em;

}

.map-view{
  display: grid;
  grid-template-rows: [first]10% [second]100%[last] ;
  grid-template-columns: [firstC]25% [secondC]55%[thirdC]20%[lastC] ;
}

.filter-list{
  z-index : 1;
  grid-row-start: first;
  grid-row-end:second;
  grid-column-start:secondC ;
  grid-column-end: thirdC;
}

.toggle-button-group{
  display: flex;
  gap:5%;
  margin-top: 0.5em;
  
}


.side-bar{
  z-index: 2;
  grid-row-start: first;
  grid-row-end:last;
  grid-column-start:firstC ;
  grid-column-end: secondC;
}

.map{
  grid-row-start: first;
  grid-row-end:last;
  grid-column-start:firstC ;
  grid-column-end: lastC;
}

.map .ol-zoom {
  top: 10px;
  left: auto;
  right: 10px;
}

.info-window{
  color:black;
  z-index: 3;
}

.background-image {
  background-image: url(images/map.jpg);
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat ;
  max-width: 100vw;
  max-height: 100vh;
  background-color: #464646;
}

.menu {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2em;
  width: 100%;
  font-size: 1em;

}

.centered-container{
  margin-top:5em;
  margin-bottom:5em;
  justify-content:space-evenly;
  text-align: justify;
  direction:row;
}


.menu > ul {
  padding: 0;
  margin: 0;
  margin-right:1em;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.menu a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}


.menu > li.active {
  background-color: #555;
}

.menu > li:hover {
  background-color: #777;
}


.fade-in {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
  
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;

  height: 400px;
  width: 100%;
  border-radius: 4em;
  

}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: blue;
}

/* Container */

.container {
  margin: 0;
  border: 0;
  text-align: center;
  width: 100%; height: 100%;
  position: absolute; top: 0; left: 0;
}

.login-div {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50%;
}

.login-form {
  background-color: #eeeeee;
  width: 90vh;
  height: inherit;
  padding-left: 10px;
}

.login-button {
  position: absolute;
  height: inherit;
}


#logo_img {
  max-height: 2em;
  max-width: 100%;
  height: auto;
  width: auto;
  padding: .25rem;
}

/*#user-icon {
  max-height: 2.5em;
  top: 50%;
}*/

#user-icon:hover {
  background-color: #555;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-trigger img {
  z-index : 4;
  top: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.dropdown-menu {
  z-index : 4;
  position: absolute;
  top: 12%;
  right: 20px;
  background-color: #fff;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  width: 200px;
  font-size: 14px;
}



.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}

h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: var(--primary-text-color);
  line-height: 1.2rem;
}

h3 span {
  font-size: 14px;
  color: var(--secondary-text-color);
  font-weight: 400;
}

.dropdown-menu ul li > li {
  padding: 10px 0;
  border-top: 3px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li li:hover a {
  color: rgb(212, 33, 9);
  cursor: pointer;
}

.dropdown-menu ul li li:hover img {
  opacity: 1;
  cursor: pointer;
}

.dropdownItem {
  display: flex;
  margin: 10px auto;
}

.dropdownItem img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: var(--speed);
}

.dropdownItem a {
  max-width: 100px;
  margin-left: 10px;
  transition: var(--speed);
  color: var(--secondary-text-color);
}


